:global {
  @font-face {
    font-family: "iconfont"; /* project id 2503701 */
    src: url("//at.alicdn.com/t/font_2503701_184xt3o2upwi.eot");
    src: url("//at.alicdn.com/t/font_2503701_184xt3o2upwi.eot?#iefix")
        format("embedded-opentype"),
      url("//at.alicdn.com/t/font_2503701_184xt3o2upwi.woff2") format("woff2"),
      url("//at.alicdn.com/t/font_2503701_184xt3o2upwi.woff") format("woff"),
      url("//at.alicdn.com/t/font_2503701_184xt3o2upwi.ttf") format("truetype"),
      url("//at.alicdn.com/t/font_2503701_184xt3o2upwi.svg#iconfont")
        format("svg");
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-time-circle:before {
    content: "\e784";
  }

  .icon-message:before {
    content: "\e78a";
  }

  .icon-eye:before {
    content: "\e78f";
  }

  .icon-location:before {
    content: "\e790";
  }

  .icon-image:before {
    content: "\e7de";
  }

  .icon-heart:before {
    content: "\e7df";
  }

  .icon-star:before {
    content: "\e7e0";
  }

  .icon-frown-fill:before {
    content: "\e846";
  }

  .icon-smile-fill:before {
    content: "\e847";
  }

  .icon-time-circle-fill:before {
    content: "\e848";
  }

  .icon-heart-fill:before {
    content: "\e849";
  }

  .icon-message-fill:before {
    content: "\e84a";
  }

  .icon-location-fill:before {
    content: "\e868";
  }

  .icon-eye-fill:before {
    content: "\e869";
  }

  .icon-like-fill:before {
    content: "\e86a";
  }

  .icon-unlike-fill:before {
    content: "\e86b";
  }

  .icon-star-fill:before {
    content: "\e86c";
  }

  .icon-search:before {
    content: "\e8ef";
  }
}
